<% include partials/header%>
<% include partials/navbar%>


<div class="container">
        <div class="jumbotron">
                <h1>Recommended section</h1>
            </div>
</div>

<div class="container recommended-content">
        <div class="row">
                <div class="col-xs-12 col-sm-8">
                        
                </div>
        </div>
</div>

<% include partials/scripts %>
<script src="main.js"></script>
<% include partials/footer %>