<% include partials/header%>
<% include partials/navbar%>

<div class="container text">
    <div class="row">
        <div class="col-xs-12">
            <h2>My list</h2>
        </div>
    </div>
</div>
<div class="ui active massive centered text inline loader">Loading</div>
<div class="container hidden home-content"></div>

<% include partials/scripts %>
<script src="mylist.js"></script>
<link rel="stylesheet" href="/stylesheets/myList.css">
<% include partials/footer %>