<% include partials/header%>
<% include partials/navbar%>

<div class="">
        <img src="https://www.thetvdb.com/banners/<%=images[0].fileName%>" alt="">
        <h1><%=show.seriesName%></h1>
        <button id="addList">Test</button>
</div>






<% include partials/scripts %>
<link rel="stylesheet" href="/stylesheets/show.css">
<script src="show.js"></script>
<% include partials/footer %>