<% include partials/header%>
<% include partials/navbar%>

<%var data = serial%>
<div class="">
        <img src="https://www.thetvdb.com/banners/<%=image.fileName%>" alt="">
        <h1><%=serial.seriesName%></h1>
        <button id="addList">Add to my list</button>
        <button id="addLike">Like</button>
</div>

<div class="hidden"><%=serial.id%></div>






<% include partials/scripts %>
<link rel="stylesheet" href="/stylesheets/show.css">
<script src="show.js"></script>
<% include partials/footer %>