<% include partials/header%>
<% include partials/navbar%>

<div class="container" id="results">
    <p><%=show.overview %></p>
    <button class=""></button>
</div>

<% include partials/scripts %>
<script src="show.js"></script>
<% include partials/footer %>