body{
    margin: 0;
    padding: 0;
    background-color: #282828;
    height: 100vh;
  }
a.button{
    margin-top: 9px;
}

.jumbotron h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: nowrap;
}

a.item{
    padding-top: 7px;
    margin-left: 10px;
}
a:not([href]):not([tabindex]){
    color: white;
}

.alert{
   margin-top: 20px;
   padding-top: 10px;
}

.alert p{
    text-align: center;
}

.jumbotron {
    margin-top: 25px;
}


