.hidden {
    display: none;
}

.img-responsive {
    width: 100%;
}

h2{
    padding-bottom: 10px;
    color: #fff;
}
.row{
    padding-top: 20px;
    height: 100%;
}
.card{
    height: 100%;
}

.col-xs-12{
    padding-top: 20px;
}
